*,
h1,
p,
body {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	outline: inherit;
	line-height: inherit;
	-webkit-user-select: inherit;
	-moz-user-select: inherit;
	-ms-user-select: inherit;
	user-select: inherit;
	text-decoration: inherit;
	letter-spacing: inherit;
}

html {
	height: 100%;
}

body {
	background-color: #e6e7e9;
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

img {
	vertical-align: middle;
}


#nav{
	float:left;
	width:100%;
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;

}
#nav li{
	float:left;
	position:relative;
	display:block;
	flex-grow: 1;
}
#nav li a{
	/*display:block;*/
	text-decoration:none;
}


/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устнавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
	width: 100%;
	box-shadow: 0px 3px 7px rgba(0, 0 , 0, 0.25);
	z-index: 10;
}
#nav ul li {
	float:none;
	flex-grow: 1;
	border-style: solid;
	border-color: #bebfb9;
	border-width: 0;
}
#nav ul li:not(:last-child) {
	border-bottom-width: 1px;
}

#nav ul a {
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display: block;
}

#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
	/*position: relative;*/
}
#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
	background:#FFF;
	color: #0072bc;
	position: relative;
	/*background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
	/*text-decoration:underline;*/
}
#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	transition: all 100ms;
	color: #0072bc;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	/*background:#333;*/
	/*background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
	color: #0072bc;
	/*text-decoration:underline;*/
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
	z-index: 1;
}

.alert{
	color: #A00;
	font-size: 12px;
	font-weight: 500;
}
.sections-association{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.section__wrap {
	max-width: 1140px;
	margin: 0 auto;
	flex-grow: 1;
}
.section__pagination {
	margin-top: 20px;
	text-align: center;
}

.section-confirm__wrap-main{
	max-width: 500px;
	margin: 0 auto;
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
}

.section-table-input {
}

.section-table-input__title {
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}

.section-table-input__content {
	max-width: 500px;
	margin: 0 auto;
	padding: 50px 0;
}

.section-table-input__messages {
	font-size: 14px;
	font-style: italic;
}

.section-table-input__message {

}

.section-table-input__table {
	margin-top: 20px;
}

.section__wrap-signup{
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 20px;

}
.section_menu {
	background-color: #0072bc;
	height: 50px;
}


.section_lk {
	margin-top: 20px;
	margin-bottom: 20px;
}

.section_2{
	margin-top: 20px;
}
.section_breadcrumbs{
	margin-top: 20px;
}
.section_footer {
	background-color: #0072bc;
}

.section_forum {

}

.section-forum {
	margin-top: 20px;
	padding: 20px;
	background-color: #fff;
	margin-bottom: 20px;
}


.section-1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
}

.section-1__list-sections {
	background-color: #fff;
	width: 41.66666666666667%;
	margin: 20px 20px 20px 0;
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
}

.li-link{
	list-style-type: none;
	padding: 5px 0;
}
.lu-link{
	margin-left: 0; 
	padding-left: 0;
}
.section-1__articles {
	/* display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; */
	width: 100%;
	/* flex-wrap: wrap; */
	/* margin: -10px; */
}

.section-1__article {
	/* width: 50%; */
	/* padding: 10px; */
	/* display: inline-block; */
	/* width: 50%; */
}

.section-1__article:not(:first-child) {
	margin-top: 20px;
}

.view-topic__wrap{
	margin: 20px 0;
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
	background-color: #fff;
	margin: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.topic_author{
	width: 30%;
	display: flex;
	flex-direction: column;
	background-color: #4ebaf6;

}

.author-name{
	font-size: 18px;
	padding: 10px;
	font-weight: 700;
	color: #fff;
}
.answers{
	margin: 20px;
	font-weight: 700;
	font-size: 20px;
}

.section-message{
	margin: 20px 0;
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
	background-color: #fff;
	margin: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.section-message_new-message{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding: 10px;
}

.section-message__wrap-button {
	text-align: right;
	margin-top: 20px;
}

.message-title{
	margin-top: 10px;
	margin-bottom: 10px;
	/*text-align: center;*/
	font-weight: 500;
	font-size: 20px;
}

.topic-title{
	font-size: 24px;
	font-weight: 700;
/*  background-color: #4ebaf6;
	color: #fff;*/
	padding: 10px;
}
.topic-body{
	padding: 10px;
	flex-grow: 1;
}
.message-body{
	padding: 10px;
	width: 500px;
}
.author-inf{
	padding: 10px;
	flex-grow: 1;
	color: #fff;
}
.topic__content{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
/*	-ms-align-items: stretch;
	align-items: stretch;*/
	width: 100%;
}
.topic-inf{
	padding: 10px;
	text-align: right;
}

.topic-inf__date {
	font-size: 14px;
}

.topic-inf__date-value {
	font-style: italic;
}

.message-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.section-2 {
	background-color: #fff;
	margin-bottom: 20px;
}

.section-2__wrap {
	max-width: 500px;
	margin: 0 auto;
	padding: 50px 0;
}

.section-2__title {
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}

.section-2__form-auth {
	margin-top: 50px;
}

.section_article{
	padding-top: 20px;
}
.section-article{
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

.section-article__title{
	font-size: 24px;
	font-weight: 500;
}

.section-article__content{
	overflow: hidden;
	margin-top: 20px;

}

.section-article__text{
	text-align: justify;
	line-height: 1.5;
}

.section-article__image{
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

.section-article__footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-top: 20px;
}
.section-article__author{
	text-align: right;
	color: #888;
	font-size: 14px;
}

.section-article__author-name{
	color: #000;
}

.section-article__author-date{
	color: #000;
	text-align: right;
}
.section-footer {
	padding: 20px 0;
}

.section-footer__links {
	text-align: center;
}

.section-footer__copyright {
	margin-top: 20px;
}

.section-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 0;
}

.section-header__logo {
	width: 200px;
}

.section-header__service-name {
	font-size: 38px;
	text-shadow: 1px 1px 0 #000;
	color: #079fd1;
	text-align: center;
	font-weight: 500;
}

.section-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.section-menu__navigation {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.section-menu__auth {
	background-color: #0ebaf6;
	border: none;
	padding: 5px;
	cursor: pointer;
	-webkit-transition: background-color 300ms;
	-o-transition: background-color 300ms;
	transition: background-color 300ms;
}

.section-menu__auth-key {
	width: 40px;
}

.section-menu__auth:hover {
	background-color: #079fd1;
}

.section-signup__wrap{
	background-color: #fff;
	margin-top: 40px;
	padding: 30px;
}
.section-corfim__wrap{
	background-color: #fff;
	margin-top: 40px;
	padding: 30px;
	margin-bottom: 20px;
}
.section-signup__title{
	margin-top: 20px;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
}
.section-signup__main-title{
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	color: #07c;
}
.section-signup__first-letter{
	font-weight: 700;
	font-size: 30px;
	color: #5cf;
}

.section-contacts{
	background-color: #fff;
	padding: 20px;
	margin-top: 20px;
}
.section-contacts__contents{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	text-align: justify;
}
.section-contacts__about{
	padding-right: 10px;
}
.section-contacts__contacts{
	padding-left: 10px;
}
.section-contacts__footer{
	margin-top: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items:center;
}
.seсtion-contacts__groups{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.seсtion-contacts__group{
	padding: 0 10px;
}
.section-contacts__text{
	margin-top: 20px;
	width: 100%;
}
.section-contacts__title{
	text-align: center;
	font-weight: 500;
	font-size: 24px;
}
.section-contacts__name-group{
	font-weight: 500;
}
.section-contacts__small-title{
	font-weight: 500;
	font-size: 18px;
}
.section-contacts__name-group{
	margin-bottom: 10px;
}
.section-signup__form{
/*  display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;*/
	margin: 20px auto 0 auto;
	max-width: 370px;
}
.section-corfim__wrap{

}
.section-confirm__title-main{
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}
.section-confirm__title{
	font-size: 18px;
	margin-top: 20px;

}
.section-confirm__content{
 
	
}
.section-confirm__form-wrap{
	margin-top: 10px;
}
.section-confirm__textfield{
	vertical-align: middle;
	padding: 5px;
}
.section-confirm_button{
	padding: 5px;
	margin-left: 20px;
}
.section-confirm__label{
	margin: 10px;
}
.article {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;
	height: 100%;
	width: 100%;
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
}

.article__content-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 20px;
}

.article__content-bottom {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.article__title {
	font-weight: 500;
	font-size: 20px;
}

.article__text {
	font-size: 14px;
	line-height: 18px;
	margin-top: 5px;
	text-align: justify;
}

.article__author {
	font-size: 14px;
	color: #888;
	text-align: right;
}

.article__author-name {
	color: #000;
}

.button {
	display: inline-block;
	vertical-align: middle;
	background-color: #0ebaf6;
	border: none;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
	white-space: nowrap;
}

.button:hover {
	background-color: #079fd1;
}

.button_form-auth {
	width: 100px;
	height: 31px;
}

.button_form-signup {
	padding: 0 10px;
	line-height: 34px;
}

.button_default {
	padding: 10px;
}

.button_article {
	width: 150px;
	height: 40px;
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
}

.button_cancel {
	padding: 10px;
	color: rgba(220,0,0,1);
	background-color: rgba(0,0,0,0);
}

.button_delete_user {
	padding: 10px;
	color: rgba(220,0,0,1);
	background-color: rgba(0,0,0,0);
}

.button_cancel:hover {
	color: #fff;
	background-color: rgba(220,0,0,1.0);
}

.button_delete_user:hover {
	color: #fff;
	background-color: rgba(220,0,0,1.0);
}

.copyright {
	color: #fff;
	text-align: center;
	font-size: 12px;
}

.footer-links {
	list-style-type: none;
}

.footer-links__link-wrap {
	display: inline-block;
	margin: 0 10px;
}

.footer-links__link {
	color: #fff;
	padding: 20px;
}

.footer-links__link:hover {
	text-decoration: underline;
}

.list-sections {

	min-width: 250px;
	/* background-color: #ffffff; */
}

.list-sections__title {
	font-size: 20px;
	font-weight: 700;
	/* padding: 0 20px; */
}

.list-sections__items {
	list-style-type: none;
	margin-top: 20px;
	/* overflow: auto; */
	background-color: #F2F2F2;
	border-style: solid;
	border-color: #D7D7D7;
	border-width: 0 1px 1px 1px;
}

.list-sections__item {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #D7D7D7;
}

.list-sections__item-title {
	cursor: pointer;
	padding: 10px;
	font-weight: 700;
	font-size: 16px;
}

.list-sections__item-title:hover {
	background-color: #4ebaf6;
	color: #fff;
}


.list-sections__subitem-title {
	padding: 10px 5px 10px 30px;
	cursor: pointer;
	font-weight: 400;
	font-size: 14px;
}

.list-sections__subitem-title:hover {
	background-color: #DCDCDC;
}

/* .list-sections__items > .list-sections__item > a:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-size: 100% 100%;
	background-image: url('../images/arrow-menu.png');
	width: 15px;
	height: 15px;
	position: absolute;
	left: 5px;
	top: 7px;
	transition: all 500ms;
} */

.list-sections__items > .list-sections__item > a.active:before {
	transform: rotate(45deg);
}

.list-sections__subsections {
	list-style-type: none;
}

/* .list-sections__item:before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 11px;
	left: -12px;
	font-size: 24px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #079fd1;
} */

.list-sections__subitems {
	margin-left: 30px;
	margin-top: 5px;
}

.list-sections__name {
	cursor: pointer;
}
.list-sections__name_active{
	cursor: pointer;
	font-weight: 700;
	background-color: #4ebaf6;
	color: #fff;
}

.list-sections__name:hover {
	text-decoration: underline;
}

.list-sections__subitem {
	position: relative;
	list-style-type: none;
}

.list-sections__subitem:before {
	content: '';
	display: inline-block;
	width: 3px;
	height: 3px;
	margin-top: -1.5px;
	position: absolute;
	top: 8px;
	left: -12px;
	font-size: 24px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #079fd1;
}

.user-panel {
	width: 200px;
	padding: 0 15px;
	text-align: center;
	border-radius: 4px;
}

.user-panel__avatar {

}

.user-panel__avatar-image {
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
	padding: 5px;
	background-color: #fff;
	width: 75px;
	height: 75px;
}

.user-panel__name {
	color: #0072bc;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
}

.user-panel__link-wrap {

}

.user-panel__link {
	font-size: 12px;
	border-bottom: 1px dashed rgba(51,51,51,0);
	transition: border-color 250ms;
}

.user-panel__link:hover {
	border-color: #333;
}

.user-panel__footer {
	margin-top: 10px;
}

.user-panel__button-exit {
	display: inline-block;
	width: 100%;
	padding: 5px 0;
	transition: all 250ms;
	color: #888888;
	opacity: 0.8;
}

.user-panel__button-exit:hover {
	color: #777777;
	opacity: 1;
}


.form-auth__textfield-wrap {
	margin: 5px 0;

}
.form-signup__textfield-wrap{

}

.form-auth__textfield-wrap_with-label {
	display: block;
	/*margin-top: 10px;*/
}
.form-signup__textfield_signup{

	width: 100%;

}

.form-auth__textfield {
	font-size: 14px;
	padding: 5px 10px;
	width: 100%;
}

.form-auth__textfield_feedback {
	width: 100%;
}

.form-auth__textfield_form-auth {
	width: 250px;
}

.form-auth__textfield_textarea {
	width: 100%;
	height: 150px;
	resize: none;
}
.message-textfield{
	width: 100%;
	height: 150px;
	resize: none;
	padding: 5px;
}

.form-auth__buttons {
	margin-top: 10px;
	font-size: 14px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.form-signup {
	display: block;
}

.form-signup__buttons{
	/*text-align: center;*/
	/*padding: 5px 0;*/
	margin-top: 20px;
	/*width: 60%;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;

}

.form-signup__buttons-signup{
	color: #333;
	border-bottom: 1px dashed rgba(51,51,51,0);
	-webkit-transition: border-color 300ms;
	-o-transition: border-color 300ms;
	transition: border-color 300ms;
	border-bottom: 1px dashed rgba(51,51,51,0);
}
.form-signup__buttons-signup:hover{
	border-color: rgba(51,51,51,1);
}

.form-auth__forgot-password {
	text-align: center;
	margin-top: 10px;
}

.form-auth__link-signup {
	color: #333;
	border-bottom: 1px dashed rgba(51,51,51,0);
	-webkit-transition: border-color 300ms;
	-o-transition: border-color 300ms;
	transition: border-color 300ms;
	margin-left: 20px;
}

.form-auth__link-signup:hover {
	border-color: #333;
}

.form-auth__label {
	font-size: 14px;
	font-weight: 500;
	color: #333;
	margin-bottom: 5px;
	margin-left: 11px;
}
.form-signup__label{
	font-size: 14px;
	font-weight: 500;
	color: #333;
	margin-bottom: 5px;
	margin-left: 11px;
	margin-top: 20px;

}
.logo {
	display: inline-block;
	vertical-align: middle;
}

.logo__link {
	display: inline-block;
	vertical-align: middle;
}

.logo__image {
	max-width: 100%;
	
}
.navigation {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	height: 50px;
}
.section_1 {
	padding: 20px 0;
	flex-grow: 1;
}

.section_content{
	flex-grow: 1;
}

.section_index {
	padding: 30px 0;
}

.section-index {
	font-family: 'Open Sans', sans-serif;
}

.section-index__section {
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.05);
	background-color: #f7f7f7;
	padding: 40px;
}

.section-index__section_addition {
	margin-top: 30px;
}

.section-index__products-grid {
	margin: 0 -40px -40px -40px;
}

.section-index__title {
	line-height: 1;
}

.section-index__title_high {
	font-weight: 600;
	text-align: center;
	font-size: 30px;
}

.section-index__title_medium {
	font-weight: 600;
	letter-spacing: 0.03em;
	font-size: 20px;
}

.section-index__title_delimiter {
	padding-bottom: 20px;
}

.section-index__title_delimiter:after {
	content: '';
	display: block;
	border-top: 2px solid #0ebaf6;
	margin-top: 20px;
	width: 75px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.section-index__subtitle {
	letter-spacing: -0.02em;
	color: #464646;
	margin-top: 10px;
	font-size: 18px;
}

.section-index__body {
	margin-top: 20px;
	text-align: center;
}

.section-index__text {
	display: inline-block;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	color: #464646;
	/*max-width: 900px;*/
}

.section-1__list-link {
	background-color: #fff;
	width: 100%;
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
	padding: 20px;
}

.section-1__menu {
	padding-right: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.navigation__item {
	color: #fff;
	cursor: pointer;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 18px;
}

.navigation__item_manage {
	min-width: 150px;
}

.navigation__item:hover {
	background-color: #fff;
	color: #0072bc;
	/*width: 100%;*/
}

.navigation__link {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.breadcrumbs{
	list-style-type: none;
	font-size: 12px;
	color: #666;
}

.breadcrumbs__item{
	display: inline-block;
	vertical-align: middle;
}

.breadcrumbs__item:not(:last-child):after{
	content: ' /';
}
.breadcrumbs__link:hover{
	text-decoration: underline;
}

.forum-table {

}

.forum-table__header {
	font-weight: 500;
}

.forum-table__body {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #e6e7e9;
	margin-top: 10px;
}

.forum-table__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border-top: 1px solid #e6e7e9;
}

.forum-table__row_header {
	border-top: none;
	padding: 0 10px;
}

.forum-table__row_body {
	padding: 10px;
}

.forum-table__row_body:hover {
	background-color: #e6e7e9;
	cursor: pointer;
}

.forum-table__cell {

}

.forum-table__cell_sections {
	flex-grow: 1;
}

.forum-table__cell_topics {
	flex-basis: 100px;
	text-align: center;
}


.forum-table__cell_messages {
	flex-basis: 100px;
	text-align: center;
}

.manage-articles {
	padding: 20px 0;
}

.manage-articles__title {
	font-size: 24px;
	font-weight: 500;
}

.manage-articles__name {
	font-style: italic;
}

.manage-articles__manage-table {
	margin-top: 20px;
}

.manage-articles__wrap-button {
	margin-top: 20px;
}

.manage-sections__manage-table {
	margin-top: 20px;
}

.manage-sections__wrap-button {
	margin-top: 20px;
}

.manage-articles__link-new-material {
	display: inline-block;
	vertical-align: middle;
}

.manage-table {

}

.manage-table_control-user {
	min-width: 1024px;
}

.manage-table__name-link {
	color: #0074BD;
}

.manage-table__name-link:hover {
	text-decoration: underline;
}

.manage-table {
	border: 1px solid #bebfb9;
	box-shadow: 0 3px 4px rgba(0,0,0,0.25);
	/* min-width: 1024px; */
}

.manage-table__header {
	border-bottom: 1px solid #bebfb9;
}

.manage-table__body {
	
}

.manage-table__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	/*justify-content: space-between;*/
	padding: 0;
}

.manage-table__row_header {
	background-color: #DFDFDA;
}

.manage-table__row_subsection {
	padding-left: 50px;
}

.manage-table__row_body:nth-child(odd) {
	background-color: #F3F4EE;
}

.manage-table__cell {
	padding: 10px;
}

.manage-table__cell_header {
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.manage-table__cell_header:not(:first-child) {
	border-left: 1px solid #bebfb9;
}

.manage-table__cell_header-name {
	border-left: none;
}

.manage-table__cell_body {
	
}

.manage-table__cell_name {
	flex-grow: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.manage-table__cell_section-name {
	font-weight: 500;
}

.manage-table__cell_section {
	flex-basis: 300px;
}

.manage-table__cell_moderator {
	flex-basis: 150px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.manage-table__cell_author {
	flex-basis: 150px;
	text-align: center;
	justify-content: center;
}

.manage-table__cell_date {
	flex-basis: 150px;
	text-align: center;
	justify-content: center;
}

.manage-table__cell_actions {
	flex-basis: 150px;
	text-align: center;
	justify-content: center;
}

.manage-table__cell_count-articles {
	flex-basis: 150px;
	text-align: center;
	justify-content: center;
}

.manage-table__title-column {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.manage-table__sort-image {
	margin-left: 10px;
}

/*Администрирование юзерами */
.manage-table__cell_number {
	flex-basis: 40px;
	text-align: center;
	justify-content: center;
}

.manage-table__cell_username {
	flex-basis: 270px;
}

.manage-table__cell_login {
	flex-basis: 130px;
}

.manage-table__cell_email{
	flex-grow: 1;
}

.manage-table__cell_gender {
	flex-basis: 100px;
	text-align: center;
}

.manage-table__cell_lvl {
	flex-basis: 115px;
	text-align: center;
	justify-content: center;

}

.manage-table__cell_admintools {
	flex-basis: 110px;
	text-align: center;
	justify-content: center;
}

.manage-table__action-link {
	font-size: 12px;
	color: #0074BD;
}

.manage-table__action-link:hover {
	text-decoration: underline;
}

.manage-sections {
	padding: 20px 0;
}

.manage-sections__title {
	font-size: 24px;
	font-weight: 500;
}

.control-user {

}

.control-user__wrap {
	
}

.control-user__title {
	font-size: 24px;
	font-weight: 500;
}

.control-user__manage-table {
	margin-top: 20px;
	overflow-x: auto;
}

.new-material {
	padding: 20px 0;
}

.new-material__title {
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}

.new-material__form {
	max-width: 600px;
	margin: 50px auto 0 auto;
}

 .form-new-material {
	margin: 0 auto;
	max-width: 700px;
}

.form-new-material__row {
	display: block;
	margin-top: 20px;
}

.form-new-material__row_selects {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
}

.form-new-material__label {
	font-weight: 700;
	margin-bottom: 5px;
	margin-left: 5px;
}

.form-new-material__textarea {
	width: 100%;
	height: 500px;
	resize: vertical;
	padding: 5px 10px;
}

.form-new-material__textfield {
	width: 100%;
	padding: 10px;
}

.form-new-material__wrap-select {
	flex-grow: 1;
	padding: 0 10px;
}

.form-new-material__select {
	width: 100%;
	padding: 5px 0;
}

.form-new-material__row_buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
} 

/*кнопка на списке тем, форум*/
.article__button{
	margin-top: 10px;
}

.new-topic{
	padding: 20px;
}

.popup {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	opacity: 0;
}

.popup__form {
	position: relative;
	min-width: 400px;
	max-width: 500px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 3px 4px rgba(0,0,0,0.25);
}

.popup__close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 24px;
	font-style: normal;
	line-height: 1;
	cursor: pointer;
}

.form-remove {
	padding: 50px 25px 15px 25px;
}

.form-remove__text {
	font-size: 18px;
}

.form-remove__buttons {
	text-align: right;
	margin-top: 25px;
}

.form-remove__name {
	font-style: italic;
}

.lk {
	padding: 25px;
	background-color: #fff;
}

.lk__title {
	text-align: center;
	font-size: 24px;
}

.lk__form {

}

.lk__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 50px;
}

.lk__side-bar {

}

.lk__side-bar_left {
	min-width: 250px;
	padding-right: 20px;
}

.lk__side-bar_right {
	flex-grow: 1;
}

.lk__content-item {
	display: none;
}

.table-input-info {

}

.table-input-info__row {

}

.table-input-info__row_delimiter {
	border-top: 1px dashed rgba(106,121,137,0.5);
	margin: 15px 0;
}

.table-input-info__row_buttons {
	margin-top: 20px;
}

.table-input-info__label {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 10px 0;
}

.table-input-info__wrap-text {
	flex-basis: 200px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.table-input-info__wrap-text_top {
	align-items: flex-start;
}

.table-input-info__text {
	font-weight: 500;
}

.table-input-info__wrap-textfield {
	flex-grow: 1;
}

.table-input-info__textfield {
	width: 100%;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: rgba(106, 121, 137, 0.5);
	padding: 11px 10px 10px 10px;
	transition: all 250ms;
	background-color: rgba(0,0,0,0);
	background-color: rgba(106, 121, 137, 0.05);
}

.table-input-info__textfield:focus {
	border-bottom-width: 2px;
	padding-top: 10px;
	border-color: rgba(106, 121, 137, 1.0);
}

.table-input-info__textfield_textarea {
	min-height: 200px;
	resize: vertical;
}

.table-input-info__select {
	width: 100%;
	padding: 10px 0;
	background-color: rgba(0,0,0,0);
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: rgba(106, 121, 137, 0.5);
}


.table-input-info__buttons {
	margin-top: 50px;
	text-align: right;
}

.lk__navigation {
	list-style-type: none;
}

.lk__navigation-item {
	cursor: pointer;
	padding: 10px 20px;
}

.lk__navigation-item_active {
	background-color: rgba(0,114,188,0.5);
}

.lk__navigation-item:not(.lk__navigation-item_active):hover {
	background-color: rgba(0,114,188,0.25);
}

.lk__navigation-link {

}

.lk-topics {

}

.lk-topics__items {
}

.lk-topics__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.lk-topics__name {
	flex-grow: 1;
}

.lk-topics__date {

}

.lk-comments {

}

.lk-comments__item {
	border-top: 1px solid #bebfb9;
	padding: 20px 0;
}

.lk-comments__item:first-child {
	border-top-width: 0;
}

.lk-comments__topic-name {
	font-weight: 500;
	font-size: 18px;

}

.lk-comments__topic-name:hover {
	text-decoration: underline;
}

.lk-comments__comment {
	margin-top: 10px;
}

.lk-comments__date {
	margin-top: 20px;
	text-align: right;
}

.pagination {
	display: inline-block;
	/*display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;*/
	color: #333;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,
		white 17%, white 83%, rgba(255, 255, 255, 0) 100%);
	height: 50px;
	width: 700px;
	font-size: 16px;
	position: relative;
}

.pagination:before,
.pagination:after {
	background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.1) 17%, rgba(0, 0, 0, 0.1) 83%, transparent 100%);
	background: -o-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.1) 17%, rgba(0, 0, 0, 0.1) 83%, transparent 100%);
	background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.1) 17%, rgba(0, 0, 0, 0.1) 83%, transparent 100%);
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}

.pagination:before {
	top: -1px;
}

.pagination:after {
	bottom: -1px;
}

.pagination__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.pagination__pages {
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 50px;
	justify-content: center;
}

.pagination__item {
	width: 50px;
	height: 50px;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.6);
	padding: 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	transition: padding 0ms linear 170ms;
}

.pagination__item:not(.pagination__item_current):hover {
	padding: 5px;
	transition: padding 170ms linear;
}

.pagination__item_current {
	color: #fff;
	padding: 5px;
}

.pagination__item_current:hover {

}

.pagination__link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 170ms linear;
}

.pagination__item:not(.pagination__item_current):hover .pagination__link {
	background-color: rgba(0, 0, 0, 0.1);
}

.pagination__item_current .pagination__link {
	background-color: #0072bc;
}

.products-grid {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.products-grid__item {
	width: 33%;
	height: 200px;
	flex-grow: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
	padding: 0 20px;
}

.products-grid__item:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity: .9;
	transition: background-color 0.3s linear;
}

.products-grid__item:hover:before {
	background-color: #001d28;
}


.products-grid__item:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .3;
	background: linear-gradient(to bottom,black 0%,transparent 34%,transparent 100%);
}

.products-grid__item_1 {
	background-image: url('../images/advantages/1.jpg');
}

.products-grid__item_2 {
	background-image: url('../images/advantages/2.jpg');
}

.products-grid__item_3 {
	background-image: url('../images/advantages/3.jpg');
}

.products-grid__item_4 {
	background-image: url('../images/advantages/4.jpg');
}

.products-grid__item_5 {
	background-image: url('../images/advantages/5.jpg');
}

.products-grid__item_6 {
	background-image: url('../images/advantages/6.jpg');
}

.products-grid__title {
	font-weight: 700;
	font-size: 16px;
}

.products-grid__content {
	position: relative;
	z-index: 1;
}

.products-grid__description {
	font-size: 14px;
	margin-top: 10px;
}

.products-grid__item:hover .products-grid__description {
	display: none;
}

.products-info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.products-info__item {
	width: 33%;
	flex-grow: 1;
	text-align: center;
	padding: 0 30px;
}

.products-info__image-wrap {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	vertical-align: middle;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.05);
	align-items: center;
	justify-content: center;
}

.products-info__image {
	height: 56px;
}

.products-info__content {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	margin-top: 20px;
}

.main-slider {
	position: relative;
}

.main-slider__items {
	
}

.main-slider__item {
	position: relative;
	text-align: center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 600px;
}

@media (max-width: 1024px) {
	.main-slider__item {
		height: 500px;
	}
}

@media (max-width: 768px) {
	.main-slider__item {
		height: 250px;
	}
}

.main-slider__item:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.main-slider__item_1 {
	background-image: url('../images/main-slider/1.jpg');
}

.main-slider__item_2 {
	background-image: url('../images/main-slider/2.jpg');
}

.main-slider__item_3 {
	background-image: url('../images/main-slider/3.jpg');
}

.main-slider__item_4 {
	background-image: url('../images/main-slider/4.jpg');
}

.main-slider__item_5 {
	background-image: url('../images/main-slider/5.jpg');
}

.main-slider__item-content {
	position: relative;
	z-index: 1;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	max-width: 650px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.main-slider__title {
	font-size: 50px;
	line-height: 1;
}

.main-slider__description {
	line-height: 1.2;
	margin-top: 50px;
}

.main-slider__image {
	/*height: 500px;*/
}

.main-slider__arrows {
	position: absolute;
	left: 0;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
}

.main-slider__arrow {
	width: 50px;
	opacity: 0.5;
	cursor: pointer;
	transition: all 250ms;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.main-slider__arrow:hover {
	opacity: 1;
}

.main-slider__arrow_prev {

}

.main-slider__arrow_next {

}

.sign-up-success {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
	padding-top: 100px;
}

.sign-up-success__image-success-wrap {

}

.sign-up-success__image-success {
	width: 200px;
}

.sign-up-success__content {
	margin-top: 50px;
}

.sign-up-success__text {
	font-size: 50px;
	font-weight: 100;
}

.sign-up-success__second-text {
	margin-top: 20px;
}

.sign-up-success__link {
	color: #0052cc;
}

.sign-up-success__link:hover {
	text-decoration: underline;
}

.user-avatar {
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
	background-color: #fff;
}

.user-avatar_icon {
	padding: 1px;
	width: 25px;
	height: 25px;
}